NodeRed/flows.json
[
    {
        "id": "65759df00513733e",
        "type": "tab",
        "label": "卧室自动控制",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b69eb9089d889991",
        "type": "server-state-changed",
        "z": "65759df00513733e",
        "name": "电脑与小爱音箱音量联动",
        "server": "71ef4160c314976d",
        "version": 5,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "switch.lemesh_sw0a02_8dce_switch",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "on",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 670,
        "y": 340,
        "wires": [
            [
                "f9d8b44dbe3f9399"
            ],
            [
                "6626d6238b27c544"
            ]
        ]
    },
    {
        "id": "f9d8b44dbe3f9399",
        "type": "xiaoai-volume",
        "z": "65759df00513733e",
        "name": "",
        "xiaoai": "0ec866c7adab01e2",
        "volume": "40",
        "device": "",
        "x": 900,
        "y": 320,
        "wires": [
            [
                "be9d72dfa6b5f429"
            ],
            []
        ]
    },
    {
        "id": "6626d6238b27c544",
        "type": "xiaoai-volume",
        "z": "65759df00513733e",
        "name": "",
        "xiaoai": "0ec866c7adab01e2",
        "volume": "20",
        "device": "",
        "x": 900,
        "y": 360,
        "wires": [
            [
                "98f14d044e5a7dd0"
            ],
            []
        ]
    },
    {
        "id": "be9d72dfa6b5f429",
        "type": "xiaoai-tts",
        "z": "65759df00513733e",
        "name": "电脑开了呀~我把音量调大了哦",
        "xiaoai": "0ec866c7adab01e2",
        "tts": "电脑开了呀~我把音量调大了哦",
        "device": "",
        "x": 1150,
        "y": 320,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "98f14d044e5a7dd0",
        "type": "xiaoai-tts",
        "z": "65759df00513733e",
        "name": "电脑关了呀~我把音量调小了哦",
        "xiaoai": "0ec866c7adab01e2",
        "tts": "电脑关了呀~我把音量调小了哦",
        "device": "",
        "x": 1150,
        "y": 360,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "9a68d271e1ee401d",
        "type": "inject",
        "z": "65759df00513733e",
        "name": "0点~6点检查水泵功率",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "*/10 0-5 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 690,
        "y": 540,
        "wires": [
            [
                "736a4a532df04554"
            ]
        ]
    },
    {
        "id": "2194cf5e789e93e0",
        "type": "function",
        "z": "65759df00513733e",
        "name": "水泵功率转换为百分比",
        "func": "msg.payload = msg.data.attributes.brightness/255*100;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 540,
        "wires": [
            [
                "7b82931694de37e9"
            ]
        ]
    },
    {
        "id": "cb30d2e1e2d9acb8",
        "type": "debug",
        "z": "65759df00513733e",
        "name": "早上6点水泵设置为100%",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 640,
        "wires": []
    },
    {
        "id": "736a4a532df04554",
        "type": "api-current-state",
        "z": "65759df00513733e",
        "name": "获取水泵功率",
        "server": "71ef4160c314976d",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "jsonata",
        "halt_if_compare": "is",
        "entity_id": "light.esp32s2_fish_waterpumppwm",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 940,
        "y": 540,
        "wires": [
            [
                "2194cf5e789e93e0"
            ]
        ]
    },
    {
        "id": "7b82931694de37e9",
        "type": "switch",
        "z": "65759df00513733e",
        "name": "判断当前功率是否大于75%",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "75",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1440,
        "y": 540,
        "wires": [
            [
                "1645f250974f7d26"
            ]
        ]
    },
    {
        "id": "1645f250974f7d26",
        "type": "api-call-service",
        "z": "65759df00513733e",
        "name": "水泵设置为75%",
        "server": "71ef4160c314976d",
        "version": 5,
        "debugenabled": true,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.esp32s2_fish_waterpumppwm"
        ],
        "data": "{\"brightness_pct\":75}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1680,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "4de2e2333101f1bd",
        "type": "api-call-service",
        "z": "65759df00513733e",
        "name": "水泵设置为100%",
        "server": "71ef4160c314976d",
        "version": 5,
        "debugenabled": true,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.esp32s2_fish_waterpumppwm"
        ],
        "data": "{\"brightness_pct\":100}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 950,
        "y": 640,
        "wires": [
            [
                "cb30d2e1e2d9acb8"
            ]
        ]
    },
    {
        "id": "4cc07f2a03dd6810",
        "type": "inject",
        "z": "65759df00513733e",
        "name": "6点自动把水泵设置为100%",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 06 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 700,
        "y": 640,
        "wires": [
            [
                "4de2e2333101f1bd"
            ]
        ]
    },
    {
        "id": "71ef4160c314976d",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": "30",
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": ": ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "default",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": false
    },
    {
        "id": "0ec866c7adab01e2",
        "type": "xiaoai-tts-configurator",
        "name": ""
    }
]